/*fonts*/
@font-face {
    font-family: 'Alex Brush';
    src: url('fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Regular.woff2') format('woff2'),
        url('fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*body*/
body{
    background-color:rgb(99, 168, 77);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr auto;
    font-family:'Glacial Indifference',sans-serif;

    row-gap:10px;
}
/*card styles*/
#container{
    display:grid;
    grid-column: 1 / -1; /* Spans all columns */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    

}
.card{
    background-color:rgb(255, 222, 113);
    padding: 30px;
    color:rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Alex Brush',serif;
    font-size:20px;
}
.remove_btn{
    border:none;
    border-radius:10px;
    padding:10px;

}
.read_toggle{
    border:none;
    border-radius:10px;
    padding:10px;
    margin-left:10px;

}
/*new book button*/
.new_book{
    background-color: antiquewhite;
    padding:10px;
    border:none;
    color:black;
    border-radius: 10px;
    grid-column:2/3;
    
}
/*form styles*/
.submit{
    background-color:rgb(117, 103, 37);
    padding:10px;
    border:none;
    color:rgb(255, 255, 255);
    border-radius:10px;
    
}

.left_side,
.right_side {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding:10px;
  
}
dialog{
    border:none;
    background-color: rgb(196, 169, 83);
    border-radius: 20px;
    box-shadow: 2px 2px 2px #363817;
}
