@font-face {
    font-family: 'Alex Brush';
    src: url('AlexBrush-Regular.woff2') format('woff2'),
        url('AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Regular.woff2') format('woff2'),
        url('GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

